# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno (contienen contraseñas)
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Sistema operativo
Thumbs.db
.DS_Store

# Logs
*.log

# Base de datos local
*.db
*.sqlite3